{% extends 'base.html' %}

{% block title %}Consommation - Items{% endblock %}

{% block body %}
<h1>Consommation des images</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Label</th>
            <th>Taille Originale (octets)</th>
            <th>Taille Compressée (octets)</th>
            <th>CO2 Économisé</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.label }}</td>
            <td>{{ item.original_size }}</td>
            <td>{{ item.compressed_size }}</td>
            <td>{{ item.co2_economise }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
