<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}ENI SORTIR{% endblock %}</title>
    <!-- Custom fonts for this template-->
    <!-- <link href="{{ url_for('static', filename='styles/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
       >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        crossorigin="anonymous">
    <link rel="icon" href="/static/styles/favicon-16x16.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='styles/css/sb-admin-2.min.css') }}" rel="stylesheet">

    {% block stylesheets %}
        <!-- Si vous utilisez Flask-Assets ou un autre gestionnaire d'assets, configurez ici -->
    {% endblock %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #fff">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon">
                    <img src="{{ url_for('static', filename='styles/img/leaf.png') }}" alt="logo ENI"
                        style="width: 50px; height: 50px;">
                </div>
                <div class="sidebar-brand-text mx-3" style="color: #45b549; font-size: 15px">Green IT</div>
            </a>

            <li class="nav-item">
            <a class="nav-link" href="/api" style="color: #45b549;">
                <i class="fa-solid fa-plug"></i>
                <span>API</span>
            </a>
            </li>

              <li class="nav-item">
            <a class="nav-link" href="/consommation" style="color: #45b549;">
                <i class="fa-solid fa-chart-line"></i>
                <span>Consommation</span>
            </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block" style="color:#45b549; ">

            <!-- Sidebar Toggler (Sidebar) background vert -->
            <div class="text-center d-none d-md-inline" >
                <button class="rounded-circle border-0" id="sidebarToggle" style="background-color: #45b549"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">


            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color: #fff">

               <h3 class="mb-0">SALVIA DÉVELOPPEMENT</h3>

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% block body %}{% endblock %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Prêt à partir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Sélectionnez "Logout" ci-dessous si vous êtes prêt à terminer votre session actuelle.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>

                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    {% block javascripts %}
        <!-- Bootstrap core JavaScript-->
        <script src="{{ url_for('static', filename='styles/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='styles/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{{ url_for('static', filename='styles/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{{ url_for('static', filename='styles/js/sb-admin-2.min.js') }}"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"
           ></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
           ></script>

    {% endblock %}

</body>

</html>
